body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: cursive;
}
#main {
    display: flex;
    flex: 1;
}

#gameArea {
    flex:1;
    display: grid;
    border: 30px solid red;
    border-radius: 20px;
    max-height: 80vh;
    box-shadow: 0px 0px 5px black;
}

#settings, #instructions {
    flex: 0 0 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

#settings button {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 40px;
    width: 110px;
    margin-top: 20px;
    font-weight: bold;
}

#settings button:active {
    background-color: darkred;
}

#nav, #footer {
    height: 10vh;
}
#footer {
    margin: 1%;
    display: flex;
    justify-content: end;
    align-items: end;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav h1 {
    font-size: 3rem;
}

#colorPicker {
    border: none;
    background-color: white;
    height: 50px;
}

/*.slideContainer input[type=range]::-webkit-slider-runnable-track {*/
/*    width: 300px;*/
/*    height: 5px;*/
/*    fill: red;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*}*/

/*.slideContainer input[type=range]::-webkit-slider-thumb {*/
/*    -webkit-appearance: none;*/
/*    border: none;*/
/*    height: 16px;*/
/*    width: 16px;*/
/*    border-radius: 50%;*/
/*    fill: red;*/
/*    margin-top: -5px;*/
/*}*/